@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h3>Edit this Engineer: @Html.DisplayFor(model => model.EngineerName)</h3>
<hr>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  <div class="form-group">
    <h4>Engineer Name:</h4>
    @Html.EditorFor(model => model.EngineerName, new { htmlAttributes = new { @class = "form-control" }})
  </div>
  <div class="form-group">
    <h4>@Html.Label("Select Machine")</h4>
    @Html.DropDownList("MachineId", null, new { @class = "form-control" })
  </div>
  <br>
  <input type="submit" value="Save" class = "btn btn-light"/>
}

<p class="btn btn-light">@Html.ActionLink("Back to List", "Index")</p>